* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.main {
  display: flex;
}
.card-page {
  &__cards {
    display: flex;
    justify-content: space-around;
  }
}
.card {
  background-color: rgb(119, 170, 153);
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}
.history {
  width: 200px;
}
