* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.main {
  display: flex;
}
.card-page {
  &__cards {
    display: flex;
    justify-content: space-around;
  }
}
.pointer {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 5px;
}
